.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  background-color:  #F2F2F2;
  color: white;
  margin: 0;
  box-sizing: border-box;
}
.mdb-feed .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mdb-feed .news .excerpt .added-images img {
  display: inline-block;
  width: 7rem;
  margin-right: .3rem;
}
.mdb-feed .news .label {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 2.5rem;
}
.mdb-feed .news .excerpt {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin: 0 0 1.2rem 1.2rem;
  word-wrap: break-word;
}
.mdb-feed .news .excerpt .brief .name {
  display: inline-block;
  vertical-align: baseline;
}

.mdb-feed .news .excerpt .brief a {
  color: #4285f4;
}
.mdb-feed .news .excerpt .brief .date {
  display: inline-block;
  float: none;
  padding-left: .7rem;
  font-size: .86rem;
  font-weight: 300;
  color: #9e9e9e;
}
.mdb-feed .news .excerpt .brief {
  padding-bottom: .5rem;
  font-weight: 500;
}
.mdb-feed .news .excerpt .feed-footer .comment {
  color: #9e9e9e;
}
.mdb-feed .news .excerpt .feed-footer .thumbs .fa-thumbs-up {
  padding-right: .3rem;
}
.thumbs{
  color: #9e9e9e;
  -webkit-transition: .4s;
  transition: .4s;
}

    
