#menu {
  position: absolute;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: 20;
  height: calc(100vh - 60px);
  width: 210px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms;
}

#menu ul {
  margin-top: 0px;
  padding: 0px;
  color: black;
  list-style-type: none;
  text-align: left;
}
#menu ul li {
  padding: 30px 0 20px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
#menu ul li li:last-child {
  border-bottom: none;
}
.fa {
  color: black;
  padding-right: 8px;
}
.fa li a {
  text-decoration: none;
  color: black;
}

#menu.isopen {
  transform: none;
}

@media screen and (max-width: 420px) {
  .menubar span {
    font-size: 1.2em;
  }
}
